/* Step 1 handles the logo animation */
@keyframes myMove {
    from {
        width: 25px;
        opacity: 0;
    }
    to {
        width: 475px;
        opacity: 1;
    }
}

#logo {
    animation: myMove 5s ease-in-out forwards;
}

/* step 2 styles the body of the page */
body{
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

/* step 3 styles the header of the pages*/
header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* step 4 styles the positioning of the links*/
.nav_links{
    display:flex;
    flex-direction: column;
}

/* step 5 styles the links to be same color even after clicking*/
/* .nav_links a {
    color: inherit;
    text-decoration: none;
} */

.nav_links a:visited {
    color: #0000ee;
}

/* step 6 styles the header of the card a background color, solid border and rounded corners */
.card > header{
    background: #288088;
    border:solid 2px #45ADAD;
    padding:20px 0;
    /* border-radius:50px; */
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin: 0;
}

/* step 7 expand, shrink and default size*/
.card {
    flex: 1 1 450px;
}

/* step 8 aligns everything at the center with flexible and responsive layout */
.pricing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: auto;
    width: 450px;
}

/* step 9 - border, spacing and width of gallery iamge */
.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

/* step 10 - flexible, centered layout that wraps into new lines when there isn't enough space*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media (min-width: 900px) {
    /* step 11 - header elements arranged in a row, spaced out evenly and vertically centered*/
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    /* step 11 - in this view, links will be in row format */
    .nav_links {
        flex-direction: row;
    }
    /* step 12 - in this view prcing elements will be in a row */
    .pricing {
        /* display: flex;
        flex-direction: row;
        flex-wrap: nowrap; */
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        flex-wrap: nowrap;
        margin: auto;
        width: auto;
    }
    /* step 12 card can shrink but not grow-> come back to this */
    .card {
        flex: 0 1 275px;
    }

}

/* step 13 - not sure how to do this */


/* step 14 - for users who prefer reduced motion animation for logo is disabled  */
@media (prefers-reduced-motion: reduce) {
    #logo {
        animation: none; 
    }
}

@media print {
    /*Styles specifically for printing -  I was unable to view the print layout on my pc for some reason. 
    I had to view as pdf to see the changes but I don't think pdf view
    reflected my changes correctly so it was hard to tell if I did this right*/

    /* step 15 and 16 - updated font */
    body {
        font-family: Arial, Helvetica;
        background: none;
    }
    /* step 17 - horizontal links */
    .nav_links {
        display:flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }
    /* step 18 */
    .pricing {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: row;
        gap: 20px;
        flex-wrap: nowrap;
        margin: auto;
        width: auto;
    }
    /* step 19 - solid border around card with base size*/
    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }
    /* step 20 - don't display anything */
    .gallery {
        display: none;
    }

    /* adds a thumbs up emoji after second list item */
    .card ul li:nth-child(2)::after {
        content: "\1F44D"; /* Thumbs up emoji */
        margin-right: 5px;
    }
}

